.container
{
    margin-top: 50px;
}
.row-header-id
{
    
    margin-left: 50px;
    margin-top: 20px;

    font-size: 60px;
    display: flex;
}
.card-header
{
    height: 100px;
}
.text-center
{
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 50px;
}
#row-container
{
    margin-left: 50px;
}
.row-head
{
    display: flex;
    
}

